<table class="table">
  <thead>
    <th>
      <td>
        Comprador
      </td>
    </th>
    <th>
      <td>
        Descrição
      </td>
    </th>
    <th>
      <td>
        Preço Uniário
      </td>
    </th>
    <th>
      <td>
        Quantidade
      </td>
    </th>
    <th>
      <td>
        Endereço
      </td>
    </th>
    <th>
      <td>
        Fornecedor
      </td>
    </th>
  </thead>
  <tbody>
    <%= render @registers %>
  </tbody>
</table>
