<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
        Nome do arquivo: <%= @file_import.filename %>
      </div>
      <div class="panel-body">
        <%= raw @file_import.content %>
      </div>
    </div>
  <h3>Dados importados:</h3>
</div>