<h1>Lista de Receitas</h1>
<table>
  <thead>
    <tr>
      <th>Comprador</th>
      <th>Descrição</th>
      <th>Preço Unitário</th>
      <th>Quantidade</th>
      <th>Endereço</th>
      <th>Fornecedor</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Marcelo</td>
      <td>teste</td>
      <td>R$ 50,00</td>
      <td>5</td>
      <td>Rua teste</td>
      <td>Bob's</td>
    </tr>
  </tbody>
</table>